body {
  background-color: #05490C;
}

li {
  text-align: center;
}

title {
  background-color: white;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  clip: (200px, 400px, 200px, 400px);
  width: 200px;
  height: 100px;
}

h1 {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-style: oblique;
}

h2 {
  text-align: right;
  font-family: Georgia;
  right: 30px;
}

.column {
  color: white;
}

.column h2 {
  text-align: left;
  text-indent: 925px;
}

.column h3 {
  text-align: left;
  text-indent: 6px;
  color: black;
}

.column p {
  text-align: left;
  text-indent: 700px;
}

.columns h3 {
  text-align: top right;
  color: blue;
}

.columns p {
  text-align: top right;
  color: black;
}

.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

embed {
  position: absolute;
  left: 700px;
}

.description {
  position: absolute;
  left: 1250px;
  top: 300px;
  padding: 10px;
}

.warranty {
  position: absolute;
  left: 1250px;
  top: 450px;
  padding: 10px;
}

.textbox {
  padding: 20px;
  text-align: center;
  left: 0px;
  right: 200px;
}

#rcorners1 {
  border-radius: 50px / 15px;
  background: #060045;
  padding: 20px;
  width: 500px;
  height: 160px;
  position: absolute;
  top: 850px;
  left: 100px;
}

#rcorners2 {
  border-radius: 50px / 15px;
  background: #060045;
  padding: 20px;
  width: 500px;
  height: 160px;
  position: absolute;
  top: 850px;
  left: 700px;
}

#rcorners3 {
  border-radius: 50px / 15px;
  background: #060045;
  padding: 20px;
  width: 500px;
  height: 160px;
  position: absolute;
  top: 850px;
  left: 1300px;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
  float: right;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contain {
  border-radius: 5px;
  background-color: #05490C;
  padding: 20px;
  color: black;
  position: absolute;
  top: 890px;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

.questions {
  text-indent: 0px;
  text-align: left;
  color: White;
  position: absolute;
  left: 50px;
  font-size: 23px;
  font: bazooka;
}

.col {
  display: block;
}

.col h2 {
  text-align: top-right;
}

.rows {
  text-align: center;
  text-indent: 198px;
}

.rows p {
  text-indent: 250px;
}

.services img {
  float: right;
}

.rating {
  color: orange;
  text-align: center;
  text-indent: 75px;
}

p.ex1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
  v
}

p.ex2 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex3 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex4 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex5 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex6 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex7 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

.img-1 {
  position: absolute;
  left: 200px;
}

.img-2 {
  position: absolute;
  left: 500px;
}

.img-3 {
  position: absolute;
  left: 800px;
}

.img-4{
  position: absolute;
  left: 1075px;
}
