body {
  background-color: #05490C;
}

li {
  text-align: center;
}

title {
  background-color: white;

}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    clip: (200px,400px,200px,400px);
    width: 200px;
    height: 100px;
}

h1 {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-style: oblique;
}

h2 {
  text-align: right;
  font-family: Georgia;
  right: 30px;
}

.column {
  color: white;
}

.column h2 {
  text-align: left;
  text-indent: 925px;
}

.column h3 {
  text-align: left;
  text-indent: 6px;
  color: black;
}

.column p {
  text-align: left;
  text-indent: 700px;
}

.columns h3 {
  text-align: top right;
  color: blue;
}

.columns p {
  text-align: top right;
  color: black;
}

.icon-bar {
    width: 90px;
    background-color: #555;
}

.icon-bar a {

    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}


embed {
position: absolute;
left: 700px;
}


.textbox {
    border: 1px solid gray;
    padding: 0px;
    text-align: center;
    left: 30px;
}



h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

.questions {
  text-indent: 0px;
  text-align: left;
  color: White;
  position: absolute;
  left: 50px;
  font-size: 23px;
  font: bazooka;
}

.col {
  display: block;
}

.col h2 {
  text-align: top-right;
}

.rows {
  text-align: center;
  text-indent: 198px;
}

.rows p {
  text-indent: 250px;
}

.service img {
  float: right;
}

p.ex1 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;v
}

p.ex2 {
  border: 1px solid black;
   outline-style: solid;
   outline-color: #D8C7C4;
   padding: 25px 50px 75px;
}

p.ex3 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex4 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex5 {
  border: 1px solid black;
  outline-style: solid;
  outline-color:#D8C7C4;
  padding: 25px 50px 75px;
}

p.ex6 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}

p.ex7 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: #D8C7C4;
  padding: 25px 50px 75px;
}
